/* AddNewQuote.css */

.AddNewQuote {
    font-family: Arial, sans-serif;
    text-align: center;
}

.home-button {
    background-color: #008bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: darkblue;
}

#authorName {
    width: 550px;
}

.quoteForm {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.3s;
}

.quoteForm:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.inputGroup {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.submitGroup {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}