/* ListAllCategories.css */

.ListAllCategories {
    text-align: center;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .categories {
    margin-top: 20px;
  }
  
  label {
    font-size: 18px;
    margin-right: 10px;
  }

  #numCategories {
    width: 150px;
  }

  .feat {
    margin: 60px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
  }
  
  .feat {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .feat:hover {
    transform: scale(1.05);
  }
  
  .feat h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .feat p {
    font-size: 1rem;
  }

  input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 16px;
  }
  
  .categoriesInput {
    text-align: center;
  }

  button {
    padding: 10px 20px;
    background-color: #007ACC;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  