.QuoteByID {
  text-align: center;
  margin: 0;
  background-color: #d39d9d;
}

header {
  text-align: center;
  background-color: #976b6b;
  color: #180000;
  padding: 1rem 0;
  width: 100%;
}

header h1 {
  font-size: 2rem;
}

#quote-id-input {
  margin: 20px 0;
}

#quote-id-input label {
  font-weight: bold;
}

#quote-id-input input {
  padding: 5px;
  margin-right: 10px;
  width: 100px;
}

#quote-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#quote-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#quote-container p {
  text-align: left;
  font-size: 16px;
  margin: 5px 0;
}
